* {
box-sizing: border-box;
padding: 0;
margin: 0;
overflow-x: hidden;


}

header{	
text-align: center;
font-size: 16px;
  background-color: rgb(92, 62, 62);
  color:rgb(226, 224, 210);
  box-sizing: border-box;
}


.picture{
  padding-top: 15px;
}

main{
background-color: rgb(177, 169, 149);
color:rgb(56, 52, 25);
}

body{

  background-color: rgb(177, 169, 149);

}

main div{
  text-align: center;
}

hr{
border: 1px solid black;
margin-top: 50px;
margin-bottom: 50px;
}

footer{
text-align: center;
background-color: rgb(92, 62, 62);
color:rgb(226, 224, 210);
padding: 4px;
box-sizing: border-box;
}


p {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  
}

h2, h3{
  
  text-align: center;
}
 nav {

   margin-top: 15px;
   margin-bottom: 25px;
   text-align: center;
 }


 .list{
  list-style-type: none;
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
 }

 section {

   text-align: center;
 }

 .space{

   padding-bottom: 15px;
 }

 ol{

   padding: 15px;
 }